<%= render "shared/second-header" %>

<div class="box">
  <div class="box-inner">
    <%= form_with(model: @tweet, local: true) do |f| %>
      <h1>編集</h1>
      <div class="form-text">
        <%= f.text_area :text, class:"input", id:"text", placeholder:"例) おはよう！", autofocus: true %>
      </div>
      <div class="form-image">
        <label class="form-image-wrap">
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <div class="box-send">
        <%= f.submit "完了" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>