<%= render "shared/header" %>



<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents">
<ul class='tweet-lists'>
  <% @tweets.each do |tweet| %>
    <li class='tweet-list'>
      <%= link_to tweet_path(tweet.id), class: "no-underline" do %>
        <div class="upper-content">
          <div class="user-image1">
            <% if tweet.user.avatar.present? %>
              <%= image_tag tweet.user.avatar.url, width: '100%', class: 'user-avatar1' %>
            <% else %>
              <%= image_tag 'icon-258.png', width: '100%', class: 'user-avatar1' %>
            <%end%>
          </div>  
          <div class="content-user">
            <p><%= tweet.user.nickname %><p>
          </div>
          <div class="content-date">
            <%= tweet.created_at %>
          </div>
        </div>
        <div class="lower-content">
          <div class="content-tweet">
            <%= tweet.text %>
          </div>
          <%= image_tag tweet.image.variant(resize: '450x450'), class: 'tweet-image' if tweet.image.attached? %>
        </div>
      <% end %>
    </li>
    <div class="margin"></div>
  <% end %>
</ul>
</div>

<%= render "shared/icon" %>

<%= render "shared/footer" %>


