<%= render "shared/header" %>

<div class="contents">
<ul class='tweet-lists'>
  <% @tweets.each do |tweet| %>
    <li class='tweet-list'>
      <%# <div class="content"> %>
        <div class="upper-content">
          <div class="content-user">
            <%= tweet.user.nickname %>
          </div>
          <div class="content-date">
            <%= tweet.created_at %>
          </div>
        </div>
        <div class="lower-content">
          <div class="content-tweet">
            <%= tweet.text %>
          </div>
          <%= image_tag tweet.image.variant(resize: '450x450'), class: 'tweet-image' if tweet.image.attached? %>
        </div>
      <%# </div> %>
    </li>
    <div class="margin"></div>
  <% end %>
  
</div>


<%= render "shared/footer" %>
