<%= render "shared/header" %>

<div class="contents">
  <ul class='tweet-lists'>
      <li class='tweet-list1'>
        <%= link_to user_path(@tweet.user), class: "no-underline" do %>
          <div class="upper-content">
            <div class="user-image1">
              <% if @tweet.user.avatar.present? %>
                <%= image_tag @tweet.user.avatar.url, width: '100%', class: 'user-avatar1' %>
              <% else %>
                <%= image_tag 'icon-258.png', width: '100%', class: 'user-avatar1' %>
              <%end%>
            </div>  
            <div class="content-user">
              <%= @tweet.user.nickname %>
            </div>
            <div class="content-date">
              <%= @tweet.created_at %>
            </div>
          </div>
          <div class="lower-content">
            <div class="content-tweet">
              <%= @tweet.text %>
            </div>
            <%= image_tag @tweet.image.variant(resize: '450x450'), class: 'tweet-image' if @tweet.image.attached? %>
          </div>
          <div class="likes-count">
            <% if current_user %>
              <% if current_user.already_liked?(@tweet) %>
                <%= link_to tweet_like_path(@tweet, @likes.ids), method: :delete, class: "like-button" do %>
                  <%= image_tag 'icon-253.png' , size: '25x25' ,class: "like-btn-icon" %>
                  <div class="like-math">
                    <%= @tweet.likes.count %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to tweet_likes_path(@tweet), method: :post, class: "like-button" do %>
                  <%= image_tag 'icon-253.png' , size: '25x25' ,class: "like-btn-icon" %>
                  <div class="like-math">
                    <%= @tweet.likes.count %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, method: :post, class: "like-button" do %>
                <%= image_tag 'icon-253.png' , size: '25x25' ,class: "like-btn-icon" %>
                <div class="like-math">
                  <%= @tweet.likes.count %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </li>
      <h2>いいねしたユーザー</h2>
        <% @tweet.liked_users.each do |user| %>
          <li><%= user.nickname %></li>
        <% end %>
      <div class="margin"></div>
  </ul>

  <%if user_signed_in? %>
    <% if current_user.id == @tweet.user_id %>
      <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get, class: "tweet-blue-btn" %>
      <%= link_to "削除", tweet_path(@tweet.id), method: :delete, class:"tweet-destroy" %>
    <% end %>
    
    <%= form_with model: [@tweet, @comment], local: true do |f| %>
      <div class="field">
        <%= f.text_area :text, class: "input-area", id:"text", placeholder:"コメント", autofocus: true %>
        <div class="box-image">
          <div class="form-image">
            <label class="form-image-wrap">
              <%= f.file_field :image, class: 'hidden' %>
            </label>
          </div>
          <%= f.submit "送信する", class: "form__btn"  %>
        </div>
      </div>
    <% end %> 

  <% end %> 
  <ul class="comments_lists">
  <p class='info-comment'>------コメント一覧------</p>
    <% @comments.each do |comment| %>
      <li class="comments_list">
        <div class="user-image2">
          <% if comment.user.avatar.present? %>
            <%= image_tag comment.user.avatar.url, width: '100%', class: 'user-avatar2' %>
          <% else %>
            <%= image_tag 'icon-258.png', width: '100%', class: 'user-avatar2' %>
          <%end%>
        </div>  
        <%= link_to "#{comment.user.nickname}", "/users/#{comment.user_id}", class: "comment_user" %>
          <div class="upper-comment">
            <%= comment.text %>
            <div class="lower-comment">
              <%= image_tag comment.image.variant(resize: '200x200'), class: 'comment-image' if comment.image.attached? %>
            </div>
          </div>
      </li>
    <% end %>
  </ul>
</div>

<%= render "shared/icon" %>

<%= render "shared/footer" %>