<%= render "shared/header" %>


<div class="contents">
  <ul class='tweet-lists'>
    <h2><%= image_tag 'icon-253.png' , size: '30x30' ,class: "like-btn-icon2" %>
      したユーザー
    </h2>
    <% @tweet.liked_users.each do |user| %>
      <li class='tweet-list'>
        <%= link_to user_path(user), class: "no-underline" do %>
          <div class="like-content">
            <div class="user-image3">
              <% if user.avatar.present? %>
                <%= image_tag user.avatar.url, width: '100%', class: 'user-like-avatar' %>
              <% else %>
                <%= image_tag 'icon-258.png', width: '100%', class: 'user-like-avatar' %>
              <%end%>
            </div>
            <div class="content-user1">
              <p><%= user.nickname %><p>
            </div>
          </div>
          <div class="like-user-introduction">
            <p>自己紹介</p>
            <%= user.introduction %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>