<header class='heaher'>
  <%= link_to 'Shares', "#", class: "type-icon" %>
  <div class='nav'>
    <ul class='list'>
      <%# <li><%= link_to 'ユーザー名', "#", class: "user-nickname" %></li>
      <%# <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
      <%# <li><%= link_to '投稿', "#", class: "logout" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  </div>
</header>